{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'accounts/login/images/icons/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="POST">
				{% csrf_token %}
				<span class="login100-form-title">
					Sign In
				</span>

				<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
					{{ form.username|add_class:"input100" }}
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter password">
					{{ form.password|add_class:"input100" }}
					<span class="focus-input100"></span>
				</div>

				<div class="text-right p-t-13 p-b-23">
					<span class="txt1">
						Forgot
					</span>

					<a href="{% url 'accounts:reset_password' %}" class="txt2">
						Password?
					</a>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Log in
					</button>
				</div>

				<div class="flex-col-c p-t-170 p-b-40">
					<span class="txt1 p-b-9">
						Don’t have an account?
					</span>

					<a href="{% url 'accounts:register' %}" class="txt3">
						Sign up now
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
	
	
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'accounts/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'accounts/login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/login/js/main.js' %}"></script>

</body>
</html>
{% endblock %}
