{% extends 'base.html' %}



{% block content %}
    {% if validlink %}
        <form action="" method="POST">
            {% csrf_token %}
            <div style="margin: 50px 100px; margin-left: 30%;">
                new password : 
                <label> {{ form.new_password1 }}</label> <br>
                repeat the password : 
                <label style="margin-top: 20px;">{{ form.new_password2 }}</label> <br>
                <input style="margin: 30px 160px;" type="submit" value="change">
            </div>
        </form>
    {% else %}
        <p>This link is not valid. try again</p>
    {% endif %}
{% endblock %}
